.react-tel-input {
	font-size: 0.9rem !important;
}

.react-tel-input .form-control {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	height: 2.4rem !important;
	position: relative;
	letter-spacing: .01rem;
	border-radius: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	width: 190px !important;
	font-size: 0.9rem !important;
}
.errorPhone{
    color:rgba(214, 74, 74, 0.885);
    font-size: 12px;
    margin-top: 3px;
    margin-left: 8px;
}